* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a{
  text-decoration: none !important;
}




.foto-perfil {
    height: 250px;
    width: 250px;
    max-width: 100%;
    border-radius: 50%;

}

.corPrimaria {
    background-color: #185fbc;
}

.corSecundaria {
    background-color: #293036;
}


p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black !important;
}

.icones {
    padding-top: 5px;
    padding-left: 5px;
    width: 30px;
    height: 30px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-content: space-between;
  flex-direction: row;
  justify-content: space-between;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #18bc9c;
}

.textoBranco {
    color: white !important;
}


.text-center {
  text-align: center!important;
}

.jumbotron{
  margin-bottom: 0!important;
  border-radius: 0!important;
}

footer {
    padding: 1rem;
} 

html {
    scroll-behavior: smooth;
}

#navbar{
    height: 70px;

}

#Name{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    width: 100%;
    height: 100px;
  }
  
  .logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
    width: 20vw!important;
  }
  
  nav {
    order: 1;
    padding-top: 1rem;
  }
  
  .nav__links a,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    font-size: 16px;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    order: 2;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
  }


  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
    padding: 11px 27px;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
      margin-right: 1rem;
    }
  }


body::-webkit-scrollbar {
  width: 6px;            /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(31, 30, 30);       /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(54, 47, 61);
  max-height: 10px;
}


@media (min-width: 1200px) {
  .responsive-font-example {
    font-size: 80px!important;
  }
  .logo{
    width: 20vw!important;
  }
}

@media (max-width: 1199.98px) {
  .responsive-font-example {
    font-size: 30px!important;
  }
  .logo{
    width: 30vw!important;
  }
}


@media (max-width: 800px) {
  .responsive-font-example {
    font-size: 20px!important;
  }
  .logo{
    width: 50vw!important;
  }
}

@media (max-width: 600px) {
  .responsive-font-example {
    font-size: 10px!important;
  }
  .logo{
    width: 50vw!important;
  }
}

@media (max-width: 600px) {
  .responsive-font-example {
    font-size: 10px!important;
  }
  .logo{
    width: 50vw!important;
  }
}